body {
  font-family: sans-serif;
  color: white;
}
fieldset {
  display: flex;
  flex-direction: column;
}
button {
  width: fit-content;
  margin-top: 5px;
}
.mood {
  padding: 8px;
  line-height: 1;
}
span{
  color: white;
}
.default-mood {
  background-color: gray;
}
.not-happy {
  background-color: darkblue;
}
.happy {
  background-color: orange;
}
.very-happy {
  background-color: hotpink;
}
